*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html{
    scroll-behavior: smooth;
    font-size: 16px;
}

a:hover{
    text-decoration: none;
    color:#4D1C08;
}

body{
    font-family: 'League Spartan', sans-serif;
    padding: 0px;
    margin: 0px;
    font-size: 1.6rem;
}

.content{
    justify-content: center;
    align-items: center;
    background-color: white;
    min-height:70vh;
}

.table__style{
    padding-top: 3rem;
    height:fit-content;
    padding-bottom: 2rem;
}

@media screen and (min-width: 770px) {
    .table__style{
        padding-top: 8rem;
        height:fit-content;
        padding-bottom: 2rem;
    }
}

.hero-shadow{
    position: absolute;
    top:0;
    font-size: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: -1;
}

.home{
    position:relative;
    margin-top: 2.5em;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    height: 50rem;
    z-index: 1;
    background-image: url(/assets/images/restauracja.08205931.png);
    background-repeat:no-repeat;
}

.header{
    font-weight: bold;
}

.brown__color{
    color:#2D1D15;
}

.light__brown__color{
    color: #E0B59F;
}

.home__alternative{
    color:#2D1D15;
    min-height: 50vh;
}

.alternative__collapse{
    text-align: end;
}

.input__field{
    height: 35%;
}

.input__field__alternative{
    padding-top:5rem;
    height: 50%;
}

.input-group__alternative{
    display: flex;
    margin:4em;
    padding-top: 1.5em;
    flex-wrap: wrap;
    min-height: 20vh;
}

.input__alternative{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 90vw;
    background-color: transparent;
}

.form-control__alternative{
    margin: 5px;
    color: grey;
    width: 90vw;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
    min-width: 250px;
}

.custom-select__alternative{
    margin: 5px;
    color: grey;
    width: 90vw;
    background-color: transparent;
    padding: 5px;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.input-group-append__alternative {
    display: flex;
    display: flex;justify-content: center;
    align-content: center;
}

.btn__alternative{
    margin-top: 15px;
    text-align: center;
    display: block;
    width: 100%;
    margin:5vw;
    background-color: #2D1D15 !important;
}

.logo{
    display: flex;
    justify-self: flex-start;
    max-height: 3em;
}

.logo__field{
    display: flex;
    justify-content: flex-start;
    justify-items: flex-start;
    margin-left: 0px;
    padding-left: 0px;
}

.field__top{
    display: flex;
}

.navbar-nav{
    font-size: 1.8rem;
}

.navbar-toggler{
    padding: 0.5em;
}

.form-control, .custom-select{
    font-family: 'Sanchez', serif;
    font-size: 1.2rem;
    background-color: white;
    border: 1px solid black;
}

.btn{
    display: flex;
    color: white;
    background-color: #2D1D15;
    border: 1px solid #1C0C04;
    font-size: 1.2rem;
}

.main__content{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 1.5rem;
    justify-content: center;
    align-content: center;
}

.upper{
    margin-bottom: 1.5rem;
}

.content__top{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    max-height: 32rem;
}

.left__side{
    display: flex;
    padding-right: 1.5rem;
    height: 32rem; 
}

.left__side__alternative{
    display: flex;
}

.left__image{
    background-image: url(/assets/images/restauracja-wnetrze.cc13d4ec.png);
    display: flex;
    background-size: 100%;
    background-size: cover;
    background-position:bottom;
    height: 32rem;
}

.right__side{
    display: flex;
    padding-left: 1.5rem;
}

.bar{
    width:100%;
    background-color: #2D1D15;
    height: 2rem;
}

.bar__alternative{
    width:100%;
    background-color: #2D1D15;
    height: 5px;
    padding-top: 1rem;
}

.bar__medium{
    width:100%;
    background-color: #2D1D15;
    height: 5px;
    padding-top: 1rem;
}

@media screen and (min-width: 770px) {
    .bar__alternative{display: none;}
}

.right__text{
    display: flex;
    flex-wrap: wrap;
    padding-top: 7vh;
    text-align: start;
    max-height: 36rem;
}

.right__text__alternative{
    display: flex;
    flex-wrap: wrap;
    text-align: start;
    max-height: 32rem;
    min-height: 22rem;
    margin-top:3rem;
    margin: 2rem;
}

@media screen and (min-width: 320px) {
    .text__header{
    color:#5E2D19;
    font-weight: bold;
    font-size: calc(35px + 6 * ((100vw - 320px) / 680));
    }
    .text{
        color:#5E2D19;
        font-size: calc(20px + 6 * ((100vw - 320px) / 680));
      }
}

@media screen and (min-width: 800px) {
    .text__header{
        color:#5E2D19;
        font-weight: bold;
        font-size: calc(40px + 6 * ((100vw - 320px) / 680));
        }
        .text{
            color:#5E2D19;
            font-size: calc(26px + 6 * ((100vw - 320px) / 680));
          }
}

@media screen and (min-width: 1300px) {
    .text__header{
        color:#5E2D19;
        font-weight:bold;
        font-size: calc(50px + 6 * ((100vw - 320px) / 680));
        }
        .text{
            color:#5E2D19;
            font-size: calc(28px + 6 * ((100vw - 320px) / 680));
          }
}

.content__bottom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: #2D1D15;
}

.left__side__bottom{
    display: flex;
    background-size: cover;
    background-position: center;
    height: 32rem;
}

.right__side__bottom{
    display: flex;
    height: 32rem;
}

.right__image__bottom{
    background-image: url(/assets/images/restauracja-wnetrze-stoly.d514bd82.png);
    display: flex;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    height: 32rem;
}

.ranking__field{
    display: flex;
    flex-wrap: wrap;
    min-height: 32rem;
    text-align: center;
    font-weight: bold;
    padding-right: 1.5rem;
    padding-bottom: 1.5rem;
}

.field{
    display: flex;
    flex-wrap: wrap;
    height: 32rem;
    min-width: 14rem;
}

.ranking{
    background-color:#2D1D15;
    flex-wrap: wrap;
    height: 14rem;
    width: 16rem;
    margin: 1rem;
    z-index: 0;
}

.ranking__alternative__small{
    background-color:#2D1D15;
    flex-wrap: wrap;
    height: 11.5rem;
    width: 12rem;
    margin: 1rem;
    z-index: 0;
}

.ranking__background{
    background-color: #5E2D19;
    flex-wrap: wrap;
    height: 14rem;
    width: 16rem;
    margin: 2rem;
    z-index: 1;
}

.ranking__background__alternative__small{
    background-color: #5E2D19;
    flex-wrap: wrap;
    height: 11rem;
    width: 12rem;
    margin: 2rem;
    z-index: 1;
}

.opinion__number{
    font-size: 5rem;
    font-weight: bold;
    margin:0;
    justify-self:end;
    line-height: 80%;
}

.opinion{
    font-size: 2rem;
}

.site__bottom{
    min-height: 15rem;
    background-color: #2D1D15;
    margin-bottom: 2rem;
}

.certifies__field{
    display: flex;
    flex-wrap: wrap;
    min-height:12rem;
    padding-right: 2rem;
    }

.certificate{
    display: flex;
    flex-wrap: wrap;
    height: 12rem;
    padding-right: 2rem;
    min-width: 12rem;
}

.links__field{
    display: flex;
    flex-wrap: wrap;
    min-height:12rem;
}

a{
    padding-left:6rem;
    text-decoration: none;
}

.link__list{
    margin: 0.5rem;
}

.bottom__links{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #E0B59F;
}

.links__holder{
    min-width: 200px;
}

.footer__sign{
    font-weight: bold;
    font-size: 1rem;
    margin-left: 6rem;
    width: 200px;
}

.site__alternative{
    min-height: 15rem;
    background-color: #2D1D15;
    margin-bottom: 2rem;
}

.bottom__navigation{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: #2D1D15;
    width: 100%;
    margin-top:5vw;
    margin-bottom:5vw;
    min-width: 200px;
    border:none;
    color: #E0B59F !important;
    padding-left:0px !important;
    margin-left:0px !important;
}

.certifies__field__alternative{
    display: flex;
    flex-wrap: wrap;
    min-height:12rem;
    background:#2D1D15;
    }

.footer__sign__alternative{
        font-weight: bold;
        font-size: 1rem;
        width: 100%;
        padding-top: 2px;
        background-color: #2D1D15;
        align-content: center;
}

.certificate__alternative{
    display: flex;
    flex-wrap: wrap;
    height: 12rem;
    min-width: 12rem;
}

.text__footer{
    margin-left: 2rem;
}

.hidden{
    visibility: hidden;
}

.login__start{
    display: block;
}

.reset__start{
    display: none;
}

.login__form{
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

@media screen and (min-width: 770px) {
    .login__form{
        padding-top: 6.2rem;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
    }
}

.login__form__complex{
    padding-top: 4.2rem;
    justify-content: center;
    align-items: center;
    min-height: 70vh;  
}

.reset__form{
    width:100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.71);
    z-index: 2;
    position:fixed;
    justify-content: center;
    align-items: center; 
}

.reset__form__alternative{
    background-color: rgba(255, 255, 255, 0.71);
    display: none;
    width:100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    position:fixed;
    justify-content: center;
    align-items: center;
}

.login__form__alternative{
    justify-content: center;
    align-items: center;
}

#users{
    justify-content: center;
    align-items: center;
}

.text__register__form__alternative{
    font-size: 1.2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.register__form{
    min-width: 200px;
    display:flex;
    justify-content: center;
}

.register__panel{
    color: #5E2D19;
    background-color: white;
    display: block;
    min-width: 350px;
}

.register__panel__alternative{
    font-size: 1rem !important;
    color: #5E2D19;
    background-color: white;
    display: block;
}

.logged__panel{
    color: #5E2D19 !important;
    background-color: white;
    display: block;
}

.logged__Panel__alternative{
    font-size: 1rem !important;
    color: #5E2D19;
    background-color: white;
    display: block;
}

.register__header__alteriative{
    font-size: 2.5rem;
    font-weight: bold;
    color: #5E2D19;
}

.register__header{
    padding-top: 1rem;
    font-size: 2rem;
    font-weight:bold;
    color: #5E2D19;
}

@media screen and (min-width: 760px) {
    .register__header{
        padding-top: 3rem;
        font-size: 3rem;
        font-weight:bold;
        color: #5E2D19;
    }
}

.form__header{
    font-size: 2rem;
    font-weight:bold;
    color: #5E2D19;
}

@media screen and (min-width: 760px) {
    .form__header{
        padding-top: 3rem;
        font-size: 3rem;
        font-weight:bold;
        color: #5E2D19;
    }
}

.form__header__medium{
    font-size: 1.5rem;
    font-weight:bold;
    color: #5E2D19;
}

@media screen and (min-width: 760px) {
    .form__header__medium{
        padding-top: 3rem;
        font-size: 2rem;
        font-weight:bold;
        color: #5E2D19;
    }
}

.text__color{
    color: #5E2D19;
}


.login__panel{
    color: #5E2D19;
    background-color: white;
    display: block;
    max-width: 40rem;
    min-width: 200px;
}

.background__field{
    height: 2000px;
    width: 2000px;
    background-color: black;
    background-size: 100%;
    z-index:1000;
    position: relative;
}

.login__panel__alternative{
    color: #5E2D19;
    display: block;
}

.login__button{
    display: flex;
    justify-content: center;
}

.close{
    margin-top: 2rem;
    margin-right: 3rem;
    font-size: 3rem;
    font-weight: bold;
    color: #5E2D19;
    border: none;
    background-color: transparent;
}

.close__alternative{
    margin-top: 2rem;
    margin-right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: #5E2D19;
    border: none;
    background-color: transparent;
}

.login__header{
    font-size: 3rem;
    font-weight:bold;
}

.login__header__alternative{
    font-size: 2.5rem;
    font-weight:bold;
}

.input__alternative{
    padding-top: 3rem;
    color: #5E2D19;
    display: flex;
    flex-wrap: wrap;
    background-color: transparent;
    width: 100%;
}

.user__form{
    display: flex;
    font-size: 2rem;
    margin: 5px;
    color: #5E2D19;
    width: 85%;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.user__form__login{
    display: flex;
    margin: 5px;
    color: #5E2D19;
    width: 85%;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 1.5rem;
}

@media screen and (min-width: 770px) {
    .user__form__login{
        display: flex;
        margin: 5px;
        color: #5E2D19;
        width: 85%;
        background-color: transparent;
        padding-left: 0px;
        border: none;
        border-bottom: 1px solid grey;
        font-size: 2rem;
    }
}

.user__register{
    display: flex;
    font-size: 2.5rem;
    margin: 5px;
    color: #5E2D19;
    width: 60%;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.user__form__alternative{
    display: flex;
    font-size: 2rem;
    margin: 2px;
    color: #5E2D19;
    width: 85%;
    min-width:160px;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.user__form__alternative__register{
    font-size: 1.2rem;
    margin: 2px;
    color: #5E2D19;
    width: 85%;
    min-width:160px;
    background-color: transparent;
    padding-left: 0px;
    border: none;
    border-bottom: 1px solid grey;
}

.user__form::-webkit-input-placeholder {
    color: #5E2D19;
    background-image: none;
    background-position: left;
}

.user__form__alternative__register::-webkit-input-placeholder {
    color: #5E2D19;
    background-image: none;
    background-position: left;
}

.login{
    width: 82%;
}

.bi{
    width: auto;
    color: #5E2D19;
}

.lock{
    display: block;
    font-size: 3rem;
}

.person__login{
    display: flex;
    font-size: 2rem;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: 770px) {
    .person__login{
    display: flex;
    font-size: 3rem;
    padding-right: 0.5rem;    
    }
}

@media screen and (min-width: 770px) {
    .person{
    display: flex;
    font-size: 3rem;
    padding-right: 0.5rem;    
    }
}

.envelope{
        display: flex;
    font-size: 3.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.7rem;
}

.envelope__alternative{
    display: flex;
    font-size: 2.2rem;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}

.envelope__alternative__register{
    display: flex;
    font-size: 2.4rem;
    padding-left: 0.5rem;
    padding-bottom: 1.3rem;
}

.person__alternative{
    display: flex;
    font-size: 3rem;
    padding-right: 0.5rem;
}

.eye__field{
    text-align: center;
    align-self: center;
}

.bi-eye-fill{
    font-size: 2rem;
    align-self: center;
    display: flex;
    line-height: 0;
}

@media screen and (min-width: 770px) {
    .bi-eye-fill{
        font-size: 2.5rem;
        display: block;
        line-height: 0;
        padding-bottom: 0.6rem;
    }
}

.eye__alternative{
    font-size: 2rem;
    padding-bottom: 1.5rem;
    display: block;
    line-height: 0;
    padding-left: 20px;
}

.eye__alternative__mobile{
    font-size: 2rem;
    padding-bottom: 2rem;
    display: block;
    line-height: 0;
}


@media screen and (min-width: 770px) {
    .btn__white__login{
        border: 2px solid #5E2D19;
        margin-top: 2rem;
        text-align: center;
        display: block;
        color: #5E2D19;
        width: 15rem;
        background-color: transparent;
        font-weight: bold;
        font-size: 2rem;
        padding: 0.7rem;
        text-align: center;
    }
}


@media screen and (min-width: 770px) {
    .btn__white__login:hover{
        border: 2px solid #4D1E08;
        color: white;
        background-color: #5E2D19;
        font-weight: bold;
        text-justify:auto;
    }
}


.btn__white__login{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: #5E2D19;
    width: 15rem;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 0.5rem;
}


.btn__white__login:hover{
    border: 2px solid #4D1E08;
    color: white;
    background-color: #5E2D19;
    font-weight: bold;
}

.btn__white{
    border: 2px solid #5E2D19;
    margin-top: 2rem;
    text-align: center;
    display: block;
    color: #5E2D19;
    width: 15rem;
    background-color: transparent;
    font-weight: bold;;
    font-size: 2rem;
    padding: 0.7rem;
    text-align: center;
}

.btn__white__form{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: #5E2D19;
    width: 8rem;
    background-color: transparent;
    font-weight: bold;;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
}

.btn__white__form:hover{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: white;
    width: 8rem;
    background-color: #5E2D19;
    font-weight: bold;;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid #4D1E08;
    color: white;
}

.btn__brown__form{
    border: 2px solid #2D1D15;
    text-align: center;
    display: block;
    color: white;
    width: 8rem;
    background-color: #5E2D19;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
}

.btn__brown__form:hover{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: white;
    width: 8rem;
    background-color: white;
    font-weight: bold;;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid #4D1E08;
    color: #5E2D19;
}

.btn__brown__form:after{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: white;
    width: 8rem;
    background-color: #5E2D19;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
    border: 2px solid #4D1E08;
    color: white;
}


.btn__brown__form{
    border: 2px solid #5E2D19;
    text-align: center;
    display: block;
    color: #5E2D19;
    width: 8rem;
    background-color: white;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0.3rem;
    text-align: center;
}

.btn-outline-secondary{
    display: block;
}

.btn__white:hover{
    border: 2px solid #4D1E08;
    color: white;
    background-color: #5E2D19;
    font-weight: bold;
}

.btn__white__alternative{
    border: 2px solid #5E2D19;
    margin-top: 1rem;
    text-align: center;
    display: block;
    color: #5E2D19;
    width: 15rem;
    background-color: transparent;
    font-weight: bold;;
    font-size: 1.5rem;
    padding: 0.5rem;
}

.btn__white__alternative:hover{
    border: 2px solid #4D1E08;
    color: white;
    background-color: #5E2D19;
    font-weight: bold;
}

.login__bottom__buttons{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center !important;
}

@media screen and (min-width: 770px) {
    .login__buttons__complex{
        text-decoration: none;
        padding: 3px;
        text-align: center;
        background-color: transparent;
        color: #5E2D19;
        border: none;
        margin: 0.8rem;
        border-bottom: 2px solid #5E2D19;
        font-weight: bold;      
    }
}

.login__buttons__complex{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    color: #5E2D19;
    border: none;
    margin: 0.8rem;
    border-bottom: 2px solid #5E2D19;
    font-weight: bold;
    font-size: 1.5rem;
}

.border__none{
    border-bottom: 2px solid #5E2D19;
}

.login__buttons__complex__2{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    color: #5E2D19;
    border: none;
    margin: 0.8rem;
    border-bottom: 2px solid #5E2D19;
    font-weight: bold;
    font-size: 1.5rem;
}

.login__buttons__alternative{
    display: block;
    flex-wrap: wrap;
    text-decoration: none;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    color: #5E2D19;
    border: none;
    margin: 0.8rem;
    border-bottom: 2px solid #5E2D19;
    font-weight: bold;
}

.login__buttons{
    text-decoration: none;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    color: #5E2D19;
    border: none;
    margin: 0.8rem;
    font-size: 1.5rem;
    font-weight: bold;   
}

#delete{
    text-decoration: none;
    padding: 3px;
    text-align: center;
    background-color: transparent;
    color: #5E2D19;
    border: none;
    margin: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;   
}


.login__label{
    display: block;
    height: 20px;
}

.text__form{
    margin: 0.8rem;
    border: none;
    text-decoration: none;
    background-color: transparent;
    color:#5E2D19;
    font-weight: bold;
}

.square-fill{
    align-self: flex-start;
    font-size: 3.5rem;
    padding-right: 0.5rem;
}

.square-fill__alternative{
    display: flex;
    font-size: 2.5rem;
    padding-right: 0.5rem;
    padding-bottom: 1.3rem;
}

.text__register__form{
    text-align: justify;
    text-justify: inter-word;
    width: 100%;
    color:#4D1C08;
}

.text__logged__form{
    text-align: center;
    align-self: center;
    width: 100%;
    color:#4D1C08;
    padding-bottom: 1rem;
}

.text__logged__form__alternative{
    text-align: center;
    align-self: center;
    width: 100%;
    color:#4D1C08;
    padding-bottom: 0.3rem;
    font-size:1.25rem;
}

.register__form__panel{
    display:flex;
    max-width: 50rem;
    align-items: center;
    min-width: 200px;
}

.register__form__panel__rules{
    display:flex;
    max-width: 80rem;
    align-items: center;
    min-width: 200px;
}

.register__form__handler{
    display:flex;
    min-width: 200px;
}

.register__input{
    justify-content: center;
    align-items: center;
    justify-items: center;
    color:#4D1C08;
    border: none;
    font-size: 2rem;
    min-width: 200px;
}

.login__field__in__form{
    padding-top: 0.3rem;
}

@media screen and (min-width: 770px) {
    .login__field__in__form{width: 100%}
}

#users_Login{
    display: flex;
    border:none;
    border-bottom: 1px solid grey;
    flex-wrap: wrap;
    min-width: 200px;
    width: 100%;
}

#registration_form_email{
    display: flex;
    border:none;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    min-width: 200px;
    width: 100%;
}

#registration_form_plainPassword_first{
    display: flex;
    border:none;
    flex-wrap: wrap;
    border-bottom: 1px solid grey;
    min-width: 200px;
    width: 100%;
}

#registration_form_plainPassword_second{
    border:none;
    border-bottom: 1px solid grey;
    flex-wrap: wrap;
    min-width: 200px;
    width: 100%;
}

#registration_form_Login{
    border:none;
    border-bottom: 1px solid grey;
    flex-wrap: wrap;
    min-width: 200px;
    width: 100%;
}

#registration_form_agreeTerms{
    margin:10px;
    margin-top:20px;
    width: 35px;
    height: 35px;
}

.widget__field{
    display: flex;
    justify-content: center;
    border: none;
    outline: none;
    color: #5E2D19;
    min-width: 150px;
}

.label__field{
    display: flex;
    flex-wrap: wrap;
    min-width: 5vw;
    flex-grow: 1;
    padding-top: 0.55rem;
}

.label__login{
    font-family: 'League Spartan', sans-serif;
}

.checkbox__login{
    width: 20px;
    height: 20px;
}

.checkbox__field{
    height: 20px;
}

#login__field{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
}

#password__field{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
}

.logged__form{
    display: flex;
    min-width:200px; 
}

.logged__text{
    min-width: 180px;
    display: block;
    text-align:start;
}

.logged__text__alternative{
    display: block;
    text-align:center;
    font-size: 1rem;
    min-width: 180px;
}


.field__logged{
    width: 100%;
    min-width: 350px;
}

.field__logged__alternative{
    width:350px;
    min-width: 350px;
}

.logged__top{
    min-width: 350px;
}

.contaienr{
    align-items: flex-start;
    justify-items: center;
}

.frame__body{
    min-height: 70vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    max-width: 100vw !important;
}

.image__form{
    display: flex;
    width: 240px;
    height: 200px;
    background-size: 200px;
    image-orientation: from-image;
    justify-self: flex-start;
}

.image__form__show{
    display: flex;
    max-width: 230px;
    height: 200px;
    justify-self: flex-start;
    align-content: center;
}


.text__column{
    justify-content: center;
    align-items: center;
    display: flex;
    color:#5E2D19;
    font-weight: bold;
    font-size: 2rem;
    width: 100%;
    min-width: 250px;
}


.text__column__field{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 1.5rem;
    width: 100%;
    min-width: 250px;
}

@media screen and (min-width: 1200px) {
    .text__column{
    justify-content: center;
    align-items: center;
    display: flex;
    color:#5E2D19;
    font-weight: bold;
    font-size: 2rem;
    min-width: 250px;
    width: auto;
    }
}

.text__column__city{
    color:#5E2D19;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-size: 2rem;
    width: 250px;
}

.column__row__field{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin:0px;
}

@media screen and (min-width: 1200px) {
    .column__row__field__show{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
}

.column__row__field__show{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    padding: 0px;
    margin:0px;
}

@media screen and (min-width: 1200px) {
    .column__row__field{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: 200px;
    }
}

.column__row__field__h{
    align-items: center;
    justify-content: center;
    width: 250px;
}

.table__index{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.table__index__show{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}

@media screen and (min-width: 1200px) {
    .table__index__show{
        display: flex;
        justify-content: flex-start;
        justify-items: flex-start;
        align-content: center;
        flex-wrap: wrap;
    }
}

.image__column{
    width:250px;
    justify-content: flex-start;
}

#restaurant_Name{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_City{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_Street{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_AddressNumber{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_Description{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_Type{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#restaurant_image{
    outline: none;
    border:none;
    border-bottom: 1px solid grey;
    width: 100%;
}

#login__field{
    color:#5E2D19;
}

.show__column{
    display: flex;
}

.opinions__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.opinion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.opinion__text{
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width:50%;
}

.opinion__photo{
    display: block;
    flex-wrap: wrap;
    justify-content: flex-start;
    height:fit-content;
    width:50%;
}

.table__field{
    height:200px;
    width:fit-content;
}

.table__header__show{
    padding-right: 2rem;
}

.table__content{
    font-weight: bold;
}

.show__field{
    display: flex;
}

.comment__text{
    display:table;
    width:100%;
    text-align:left;
    text-justify: auto;
    hyphens: auto;
    overflow: auto;
}

.comment__text__alternative{
    display:table;
    width:100%;
    text-align: left;
    text-justify: auto;
    margin-right:0px !important;
    padding-right:0px !important;
}

.tbody__comment{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.table__index__comment{
    width:inherit;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.table__comment{
    width: 100%;
}

.comment__data{
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
}

.comment__data__content{
    display: flex;
    width: 100%;
    min-width:200px;
    word-break: break-all;
}

#comments_Text{
    border:1px solid grey;
    width: 100%;
    height: 200px;
}

#delete__button{
    font-size: 1.2rem;
}

.link__form{
    text-align: start;
    color:#5E2D19;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

@media screen and (min-width: 770px) {
    .plain__text{
        font-size: 1.5rem !important;
        text-align: start;
        word-break: break-all;
    }
}

.plain__text{
    font-size: 1.2rem;
    text-align: start;
    word-break: break-all;
}

.bold{
    font-weight: bold;
}

.sf-dump{
    display: none;
    visibility: hidden;
}

#sf-dump-103282228
{
    display: none;
    visibility: hidden;
}

pre{
    display: none;
    visibility: hidden;
}

.current:hover{
    text-decoration: none;
    color: #E0B59F !important;
}

.page{
    text-decoration: none;
    color:#4D1C08 !important; 
}

.page:hover{
    text-decoration: none;
    color: #E0B59F !important;
}

.next{
    text-decoration: none;
    color:#4D1C08 !important; 

}

.next:hover{
    text-decoration: none;
    color: #E0B59F !important;
}

.last{
    text-decoration: none;
    color:#4D1C08 !important; 

}

.last:hover{
    text-decoration: none;
    color: #E0B59F !important;

}

.page:hover{
    text-decoration: none;
    color: #E0B59F !important;
}

.pagination{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    justify-content: center;
    color:#4D1C08 !important; 
}

.pagination:hover{
    font-family: 'League Spartan', sans-serif;
    text-decoration: none;
    justify-content: center;
    color:#3C0B07; 
}

a, a:focus, a:active{
    text-decoration: none !important;
    color:#3C0B07; 
}