{% extends 'base.html.twig' %}

{% block title %}Comments index{% endblock %}

{% block body %}
    <h1>Comments index</h1>

    <table class="table">

        <tbody>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.Text }}</td>
            </tr>
        {% else %}
            <tr>
                <td>Nie znaleziono wyników</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
